USE [DB_AED]
GO
/****** Object:  Table [dbo].[ObesityDataSet]    Script Date: 4/20/2024 7:21:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObesityDataSet](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Gender] [varchar](50) NULL,
	[Age] [varchar](50) NULL,
	[Height] [varchar](50) NULL,
	[Weight] [varchar](50) NULL,
	[family_history_with_overweight] [varchar](50) NULL,
	[FAVC] [varchar](50) NULL,
	[FCVC] [varchar](50) NULL,
	[NCP] [varchar](50) NULL,
	[CAEC] [varchar](50) NULL,
	[SMOKE] [varchar](50) NULL,
	[CH2O] [varchar](50) NULL,
	[SCC] [varchar](50) NULL,
	[FAF] [varchar](50) NULL,
	[TUE] [varchar](50) NULL,
	[CALC] [varchar](50) NULL,
	[MTRANS] [varchar](50) NULL,
	[NObeyesdad] [varchar](50) NULL,
	[IMC] [varchar](50) NULL,
 CONSTRAINT [PK_ObesityDataSet_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[PROC_QTD_TIPOS_OBESIDADES]    Script Date: 4/20/2024 7:21:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_QTD_TIPOS_OBESIDADES]
AS BEGIN


DROP TABLE IF EXISTS #TEMP

SELECT NOBEYESDAD, COUNT(*) QTD  INTO #TEMP FROM [OBESITYDATASET]
GROUP BY NOBEYESDAD 

SELECT * FROM #TEMP
UNION
SELECT 'SOMA', SUM(QTD) FROM #TEMP

END
GO
